* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

header {
  width: 100%;

  section {
    width: 80%;
    height: 500px;
   // overflow: hidden;
    position: relative;
    margin: 0 auto;
    ul{
      width:100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      li{
        transition: all 0.3s;
        position: absolute;
        width: 100%;
        height: 100%;
        &:nth-child(1) {
          background: url('../imgs/banner-imgs/banner-1-new.png') no-repeat;
          left: 0;
        }

        &:nth-child(2) {
          background: url('../imgs/banner-imgs/banner-2-new.png');
          left: 100%;
        }

        &:nth-child(3) {
          background: url('../imgs/banner-imgs/banner-3-new.png');
          left: 200%;
        }

        &:nth-child(4) {
          background: url('../imgs/banner-imgs/banner-4-new.png');
          left: 300%;
        }
      }
    }

    .banner-oprate {
      position: absolute;
      height: 50px;
      width: 50px;
      text-align: center;
      margin: 0 auto;
      line-height: 50px;
      top: calc(50% - 25px);
      border-radius: 50%;
      user-select: none;
      background-color: rgba(193, 220, 234, 0.5);
      // background-color: red;
      cursor: pointer;
      z-index: 11;
      &.pre {
        left: 10px;
      }
      &.next {
        right: 10px;
      }
    }
  }
}
