* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

header {
  section {
    position: relative;

    .banner-list {
      width: 100%;
      position: relative;
      height: 625px;

      .banner-item {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        &:nth-child(1) {
          background: url('../imgs/banner-imgs/banner-1-new.png') no-repeat;
        }

        &:nth-child(2) {
          background: url('../imgs/banner-imgs/banner-2-new.png');
        }

        &:nth-child(3) {
          background: url('../imgs/banner-imgs/banner-3-new.png');
        }

        &:nth-child(4) {
          background: url('../imgs/banner-imgs/banner-4-new.png');
        }
        &.active{
          opacity: 1;
          z-index: 10;
        }
      }
    }

    .banner-oprate {
      position: absolute;
      height: 50px;
      width: 50px;
      text-align: center;
      margin: 0 auto;
      line-height: 50px;
      top: calc(50% - 25px);
      border-radius: 50%;
      user-select: none;
      background-color: rgba(193, 220, 234, 0.5);
      // background-color: red;
      cursor: pointer;
      z-index: 11;
      &.pre {
        left: 10px;
      }
      &.next {
        right: 10px;
      }
    }

    .dottes{
      position: absolute;
      bottom: 30px;
      right: 40px;
      z-index: 11;
      span{
        user-select: none;
        cursor: pointer;
        display: inline-block;
        width: 15px;
        height: 15px;
        background: yellow;
        border-radius: 50%;
        margin-right: 10px;
        &.active{
          background: red;
        }
      }
    }

  }
}
