<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <title>Title</title>
    <link rel="stylesheet" href="../../../css/pages/lizong/minireset.min.css">
    <link rel="stylesheet" href="../../../css/pages/lizong/index.css">
</head>
<body>
    <main>
        <p>智慧矿山大数据平台</p>

        <section>
            <div class="left-img"></div>
            <div class="mid-img"></div>
            <div class="right-img">
                <span class="form-title">用户登录</span>
                <input class="form-input" type="text" placeholder="用户名">
                <input class="form-input"  style="margin-top: 15px" type="text" placeholder="密码">
                <div class="password-wrap">
                    <div><input type="checkbox"> 记住密码</div>
                    <div>忘记密码？</div>
                </div>
                <div class="login-btn">登 录</div>
            </div>
        </section>
    </main>
</body>
</html>
