* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
}

ul, li {
  list-style: none;
}

header {
  z-index: 2;
  height: 90px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  // background: url("../../../imgs/byton-imgs/header-logo-dark.svg") no-repeat;
  section {
    height: 100%;
    padding: 0 50px;
    background: rgba(0, 0, 0, .2);

    .nav-left {
      float: left;
      height: 100%;
      width: 180px;

      .navbar-logo {
        display: inline-block;
        background: url("../../../imgs/byton-imgs/header-white-logo.svg") no-repeat;
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
      }
    }

    .nav-right {
      float: right;
      width: 294px;
      height: 100%;
      text-align: right;
      line-height: 90px;

      span:last-child {
        margin-left: 15px;
      }

      span {
        font-size: 20px;
      }
    }

    .nav-main {
      text-align: center;
      line-height: 90px;

      ul {
        li {
          margin: 0 15px;
          cursor: pointer;
          display: inline-block;
          height: 100%;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 2px
        }
      }
    }
  }
}

main {
  .banner {
    height: calc(100vh);
    width: 100%;
    background: url("../../../imgs/byton-imgs/banner1.jpg") no-repeat 100% 50%;
    background-size: cover;
    position: relative;

    .banner-content {
      position: absolute;
      width: 900px;
      text-align: center;
      top: 15%;
      left: 50%;
      transform: translateX(-50%);
      color: #ffffff;

      .banner-title {
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: 700;
      }

      .banner-text {
        font-weight: 400;
        margin-top: 26px;
        font-size: 22px;
      }
    }
  }

  .product-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .card {
      flex-basis: 50%;
      position: relative;
      text-align: center;
      cursor: pointer;
      overflow: hidden;

      .card-content {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 2px 4px;
        color: #75787B;
        position: relative;

        &.bg4, &.bg2, &.bg3 {
          color: #ffffff !important;
        }

        img {
          width: 100%;
          height: 100%;
          transition: all 1s;
        }

        img.phone-card-img {
          position: absolute;
          top: 0;
          left: 0;
        }

        &:hover {
          & img {
            transform: scale(1.1);
          }

          & img.app-bg {
            transform: translate(2%, 20%) scale(1.1);
          }
        }

        .card-text {
          position: absolute;
          width: 100%;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;

          h1 {
            font-size: 33px;
            font-weight: 400;
          }

          h4 {
            margin-top: 5px;
            font-weight: bold;
          }

          h5 {
            margin-top: 5px;
          }
        }
      }
    }
  }

  .adv {
    width: 100%;
    transform: translateY(100px);
    padding: 4px 0 4px 4px;
    transition: all .3s;
    font-size: 0;

    &.play {
      transform: translateY(0);
    }

    .adv-content {
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        transition: all 0.5s;
        cursor: pointer;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }
}
