* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
}

ul, li {
  list-style: none;
}

header {
  z-index: 2;
  height: 90px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
}
header section {
  height: 100%;
  padding: 0 50px;
  background: rgba(0, 0, 0, 0.2);
}
header section .nav-left {
  float: left;
  height: 100%;
  width: 180px;
}
header section .nav-left .navbar-logo {
  display: inline-block;
  background: url("../../../imgs/byton-imgs/header-white-logo.svg") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
header section .nav-right {
  float: right;
  width: 294px;
  height: 100%;
  text-align: right;
  line-height: 90px;
}
header section .nav-right span:last-child {
  margin-left: 15px;
}
header section .nav-right span {
  font-size: 20px;
}
header section .nav-main {
  text-align: center;
  line-height: 90px;
}
header section .nav-main ul li {
  margin: 0 15px;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}

main .banner {
  height: calc(100vh);
  width: 100%;
  background: url("../../../imgs/byton-imgs/banner1.jpg") no-repeat 100% 50%;
  background-size: cover;
  position: relative;
}
main .banner .banner-content {
  position: absolute;
  width: 900px;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
}
main .banner .banner-content .banner-title {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 700;
}
main .banner .banner-content .banner-text {
  font-weight: 400;
  margin-top: 26px;
  font-size: 22px;
}
main .product-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main .product-cards .card {
  flex-basis: 50%;
  height: 500px;
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
main .product-cards .card .card-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 4px;
  color: #75787B;
  transition: all 4s;
}
main .product-cards .card .card-content.bg1 {
  background: url("../../../imgs/byton-imgs/card1.jpg") no-repeat;
  background-size: 100% 100%;
  background-origin: content-box;
  background-position: center;
}
main .product-cards .card .card-content.bg2 {
  background: url("../../../imgs/byton-imgs/card2.jpg") no-repeat;
  background-size: 100% 100%;
  background-origin: content-box;
  background-position: center;
  color: #ffffff;
}
main .product-cards .card .card-content.bg3 {
  background: url("../../../imgs/byton-imgs/card3.jpg") no-repeat;
  background-size: 100% 100%;
  background-origin: content-box;
  background-position: center;
  color: #ffffff;
}
main .product-cards .card .card-content.bg4 {
  background: url("../../../imgs/byton-imgs/card4.png") no-repeat, url("../../../imgs/byton-imgs/app-bg.png") no-repeat, url("../../../imgs/byton-imgs/card4-bg.png") no-repeat;
  background-size: 100% 100%, 100% 110%, 100% 100%;
  background-origin: content-box, content-box, content-box;
  background-position: center, 50% 110%, center;
  color: #ffffff;
}
main .product-cards .card .card-content:not(.bg4):hover {
  background-size: 110% 110%;
}
main .product-cards .card .card-content.bg4:hover {
  background-position: center, 50% 110%, center;
  background-size: 110% 110%, 110% 78%, 100% 100%;
}
main .product-cards .card .card-text {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .product-cards .card .card-text h1 {
  font-size: 33px;
  font-weight: 400;
}
main .product-cards .card .card-text h4 {
  margin-top: 5px;
  font-weight: bold;
}
main .product-cards .card .card-text h5 {
  margin-top: 5px;
}

/*# sourceMappingURL=index.css.map */
