* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

header {
  width: 100%;
  height: 500px;

  section {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .banner-list {
      height: 100%;
      width: 400%;
      transition: all 0.3s;
      .banner-item{
        user-select: none;
        width: 25%;
        height: 100%;
        float: left;
        &:nth-child(1) {
          background: url('../../imgs/banner-imgs/banner-1-new.png');
        }

        &:nth-child(2) {
          background: url('../../imgs/banner-imgs/banner-2-new.png');
        }

        &:nth-child(3) {
          background: url('../../imgs/banner-imgs/banner-3-new.png');
        }

        &:nth-child(4) {
          background: url('../../imgs/banner-imgs/banner-4-new.png');
        }
      }
    }

    .banner-oprate {
      position: absolute;
      height: 50px;
      width: 50px;
      text-align: center;
      margin: 0 auto;
      line-height: 50px;
      top: calc(50% - 25px);
      border-radius: 50%;
      user-select: none;
      background-color: rgba(193, 220, 234, 0.5);
      // background-color: red;
      cursor: pointer;
      z-index: 11;
      &.pre {
        left: 10px;
      }
      &.next {
        right: 10px;
      }
    }

    .dottes{
      user-select: none;
      position: absolute;
      bottom: 30px;
      right: 40px;
      z-index: 11;
      span{
        user-select: none;
        cursor: pointer;
        display: inline-block;
        width: 15px;
        border: 2px solid #ffffff;
        height: 15px;
        border-radius: 50%;
        margin-right: 10px;
        &.active{
          background: #ffffff;
        }
      }
    }
  }
}
