<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/banners/banner3.css">
</head>
<body>
    <div class="sildershow middle">
        <div class="sildes">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">
            <input type="radio" name="r" id="r4">
            <div class="silde s1">
                <img src="../../imgs/banner-imgs/banner-1-new.png" alt="">
            </div>
            <div class="silde">
                <img src="../../imgs/banner-imgs/banner-2-new.png" alt="">
            </div>
            <div class="silde">
                <img src="../../imgs/banner-imgs/banner-3-new.png" alt="">
            </div>
            <div class="silde">
                <img src="../../imgs/banner-imgs/banner-4-new.png" alt="">
            </div>
        </div>

        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
        </div>

    </div>
</body>
</html>
