<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/banners/banner2.css">
</head>
<body>
    <header>
        <section>
            <ul class="banner-list">
                <li class="banner-item active"></li>
                <li class="banner-item"></li>
                <li class="banner-item "></li>
                <li class="banner-item"></li>
            </ul>
            <div class="banner-oprate pre"><</div>
            <div class=" banner-oprate next">></div>
        </section>

    </header>

<script src="../../js/banners/banner2.js"></script>

</body>
</html>
