<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/banners/banner1.css">
</head>
<body>

<header>
    <section>
        <ul class="banner-list">
            <li class="banner-item active"></li>
            <li class="banner-item"></li>
            <li class="banner-item "></li>
            <li class="banner-item"></li>
        </ul>
        <div class="banner-oprate pre"><</div>
        <div class=" banner-oprate next">></div>

        <div class="dottes">
            <span class="active" dot-index="0"></span>
            <span dot-index="1"></span>
            <span dot-index="2"></span>
            <span dot-index="3"></span>
        </div>
    </section>

</header>

<script src="../../js/banners/banner1.js"></script>

</body>
</html>
