<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <title>Title</title>
    <link rel="stylesheet" href="../../../css/pages/byton/index.css">
    <link rel="stylesheet" href="../../../css/fonts/iconfont.css">
</head>
<body>
    <header>
        <section>
            <div class="nav-left">
                <a href="#" class="navbar-logo"></a>
            </div>
            <div class="nav-right">
                <span class="icon iconfont level-icon"></span>
                <span class="icon iconfont level-icon"></span>
            </div>
            <div class="nav-main">
                <ul>
                    <li>PRODUCTS</li>
                    <li>INSIGHTS</li>
                    <li>COMPANY</li>
                    <li>FAQ</li>
                </ul>
            </div>

        </section>

    </header>
<main>
    <section class="banner">
        <div class="banner-content">
            <h1 class="banner-title">BYTON M-BYTE. YOUR PLATFORM FOR LIFE.</h1>
            <h5 class="banner-text">The first premium electric SUV with an encapsulating interior experience as rich as the world it travels.</h5>
        </div>
       <!-- <img src="../../../imgs/byton-imgs/banner1.jpg" alt="">-->
    </section>

</main>
</body>
</html>
